.products__container {
  padding: 40px 24px;

  svg {
    background: rgba(255, 255, 255, 1);
    border-radius: 12px;
    padding: 8px;
  }

  .products__icons-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
  }

  .products__user-icon {
    border-radius: 50%;
    height: 47px;
    width: 47px;
  }
  .products__text-container {
    margin-bottom: 17px;

    p {
      color: $text-color-secondary;
      font-size: 16px;
      font-weight: 400;
      line-height: 20.83px;
      text-align: left;
    }

    h1 {
      color: $text-color-primary;
      font-size: 24px;
      font-weight: 700;
      margin: 5px 0 15px;
      line-height: 31.25px;
      text-align: left;
    }

    h2 {
      color: $text-color-primary;
      font-size: 18px;
      font-weight: 700;
      line-height: 23.44px;
      text-align: left;
    }
  }
}
