$primary-color: rgba(255, 159, 36, 1);

$text-color-primary: rgba(50, 50, 50, 1);
$text-color-secondary: rgba(150, 150, 150, 1);
$text-color-gray: rgba(100, 100, 100, 1);
$text-color-light-gray: rgba(128, 128, 128, 1);
$text-color-black: rgba(15, 13, 35, 1);

$app-white-color: rgb(255 255 255);
$app-background-color: rgba(250, 250, 250, 1);
